In [1]:
import pandas as pd
import numpy as np

In [2]:
def parse_dataset(fp):
    '''
    Loads the dataset .txt file with label-tweet on each line and parses the dataset.
    :param fp: filepath of dataset
    :return:
        corpus: list of tweet strings of each tweet.
        y: list of labels
    '''
    y = []
    corpus = []
    with open(fp, 'rt') as data_in:
        for line in data_in:
            if not line.lower().startswith("tweet index"): # discard first line if it contains metadata
                line = line.rstrip() # remove trailing whitespace
                label = int(line.split("\t")[1])
                tweet = line.split("\t")[2]
                y.append(label)
                corpus.append(tweet)

    return corpus, y

In [14]:
_, y = parse_dataset('../goldtest_TaskB/SemEval2018-T3_gold_test_taskB_emoji.txt')

In [15]:
len(y)

784

In [13]:
zeros, ones = (sum([1 for i in y if i == 0]), 
              sum([1 for i in y if i == 1]))
zeros, ones

(473, 311)

In [16]:
zeros, ones, twos, threes = (sum([1 for i in y if i == 0]), 
                            sum([1 for i in y if i == 1]),
                            sum([1 for i in y if i == 2]),
                            sum([1 for i in y if i == 3]))
zeros, ones, twos, threes

(473, 164, 85, 62)